body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header {
    background-color: darkblue;
}

.navbar-toggle {
    background-color: darkblue;
}

.navbar-toggle.collapsed {
    background-color: #f4bf42;
}

.navbar-collapse.collapse {
    background-color: darkblue;
}

.container {
    background-color: darkblue;
}

h2 {
    color: #f4bf42;
}

p {
    color: #f4bf42;
}

p.lead {
    color: darkblue;
}

h1 {
    color: darkblue;
}

.jumbotron {
    background-color: #f4bf42;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
}

a {
    color: #f4bf42;
}

h4 {
    color: #f4bf42;
}

label {
    color: #f4bf42;
}

img {
    background-color: darkblue;
}