@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

        <img class="center-block img-responsive" src="http://www.blockbuster.com/images/homeFullPage.jpg" alt="Blockbuster Video"/>

   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            ::Click here:: to see an expansive list of our movies...We have all of the latest technology, including but not limited to VHS, DVD and LaserDisc technology for all of your viewing needs.
        </p>
        <p>@Html.ActionLink("View Movies", "Index", "Movies", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Customer Maintenance</h2>
        <p>::Click here:: to find, view, and edit our customer database.  We have over 5 customers and growing all of the time. </p>
        <p>@Html.ActionLink("Customer Roster", "Index", "Customers", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Rental Log</h2>
        <p>::Click here:: to track and maintain our rental logs. Find out who is late and levy fines accordingly. </p>
        <p>@Html.ActionLink("Rental Log", "Index", "RentalLog", null, new { @class = "btn btn-default" })</p>
    </div>
</div>